<section>
        <div class="columns">
        <div class="column  has-text-centered">
            <img src="/images/logo-big.png" alt="" class="mr-6">
        </div> 
        <div class="column has-text-centered">
        <p>Left</p>
        </div>
       
    </div>
</div>
</section>