
<div class="container">
      <h1 id="page-heading" class="title has-text-centered">City Name</h1>
      <h2 id="cityTitle" class="subtitle has-text-centered pt-2">City Focus</h2>
    </div>
<section class="section pt-0">
    <div class="container">
      <div class="box">
        <p id="weatherDesc" class="mb-2">Weather:</p>
        <p id="maxTemp" class="mb-2">Max Temperature:</p>
        <p id="maxWind" class="mb-2">Max Wind Speed:</p>
        <p id="hourTemp" class="mb-2">Temperature Now:</p>
        <p id="hourWind" class="mb-2">Wind Now:</p>
        <p id="currentTime" class="mb-2">Current Time:</p>
      </div>
    </div>
  </section>

  <section class="section pt-0">
    <div class="container">
      <h3 class="title is-4">7 Day Forecast</h3>
      <ul id="sevenDaySummary" class="content"></ul>
    </div>
  </section>

  <main class="section pt-0">
    <div class="container">
      <!-- Dynamic city cards will be appended here -->
    </div>
  </main>
